#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20vw;
}

.vegetables,
.sweets {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#main {
  width: 79%;
  margin: auto;
  padding: 2vw;
}

.figure {
  display: block;
  text-align: center;
  max-width: 17.5vw;
  margin: 1rem;
}

.chef {
  width: 80%;
}

.pictures {
  width: 100%;
}

figcaption {
  text-align: center;
}

.number {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

#man {
  justify-content: center;
  text-align: center;
}

.post p {
  display: flex;
  gap: 1rem;
}

footer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10vw;
  line-height: 1.6;
}

@media screen and (max-width: 425px) {
  .foot,
  .post {
    width: 100%;
    display: contents;
    grid-template-rows: auto;
  }

  footer {
    display: block;
    width: 100%;
  }

  #main {
    width: 80%;
  }

  .vegetables,
  .sweets {
    display: flex;
    flex-direction: column;
  }

  .figure {
    display: contents;
    text-align: center;
    width: 100%;
  }

  .tags {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .tags-heading {
    display: flex;
    flex-direction: row;
  }
}
